#bio {
  background-color: #8D7B68;
}

.bio {
  color: #F5F2E7;
  padding: 60px 0px;
  align-items: center;
  height: 700px;
}

.logo {
  margin: 40px 0px;
}

.bio > p {
  text-align: justify;
  padding: 20px 50px 0px 50px;
  margin: 0;
}

.bio > svg {
  overflow: hidden;
  width: 100%;
}

path {
  stroke: none;
  fill: #8D7B68;
}


/* Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .bio {
    padding: 40px 0 80px 0px;
    height: 100%;
  }

  .logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}
