#bio {
  background-color: #8D7B68;
}

.bio-description {
  color: white;
  align-items: center;
  height: 600px;
}

.logo {
  margin-bottom: 20px;
  width: 320px;
}

.bio-description > p {
  text-align: justify;
  padding: 15px 50px;
}

.bio-description > svg {
  overflow: hidden;
  width: 100%;
}

path {
  stroke: none;
  fill: #8D7B68;
}


/* Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .bio-description {
    padding-bottom: 40px;
    height: 100%;
  }

  .logo {
    display: block;
    margin: 25px auto;
  }

  .bio-description > p {
    padding: 20px;
  }
}
