.play-btn {
  position: absolute;
  right: 26px;
  top: -40px;
  border-radius: 50%;
  background-color: #1DB954;
  border: none;
}

.play-btn > i {
  font-size: 30px;
  color: white;
  margin: 4px;
}
