#music {
  background-color: #F5F2E7;
  padding: 60px 0px 140px 0px;
}

.music-title {
  padding: 60px 0px;
  color: #1B1A17;
}

/* Desktop version */

.desktop-cards {
  display: grid;
  position: relative;
  align-items: center;
  grid-gap: 30px;
}

.desktop-card {
  width: 350px;
  border-radius: 8px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  margin: auto;
  background-color: white;
}

.desktop-card .desktop-card-info {
  padding: 0 20px 20px 30px;
  display: block;
  position: relative;
}

.desktop-card-info h4 {
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
}

.desktop-card-info p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 200px;
  font-style: italic;
}

.desktop-card-img-top {
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  height: 280px;
}

#fanlink {
  max-width: 400px;
  max-height: 620px;
}

.desktop-play-btn > i {
  font-size: 30px;
  color: white;
  position: absolute;
  top: -47px;
  right: 30px;
  background-color: #1DB954;
  border-radius: 50%;
  padding: 8px;
}

/* Mobile version */

.mobile-card {
  overflow: hidden;
  height: 120px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: 20px;
  border-radius: 4px;
  position: relative;
}

.mobile-card img {
  height: 100%;
  width: 120px;
  padding: 8px;
  object-fit: cover;
}

.mobile-card h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.mobile-card p {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  font-weight: 200px;
  font-style: italic;
}

.mobile-card .mobile-card-infos {
  padding: 10px;
}

.mobile-play-btn > i {
  font-size: 30px;
  color: white;
  background-color: #1DB954;
  border-radius: 50%;
  padding: 8px;
  position: absolute;
  top: 30px;
  right: 20px;
}

/* Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .desktop-cards {
    display: none;
  }
  #music {
    padding: 80px 0px;
  }

  .music-title{
    padding: 0 0 30px 0;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
  .mobile-card {
    display: none;
  }
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .desktop-cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .desktop-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .desktop-card {
    width: 300px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .desktop-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .desktop-card {
    width: 350px;
  }
}
