#music {
  background-color: #373331;
  padding: 40px 0px;
}

.music-title {
  padding: 60px 0px;
  color: white;
}


.desktop-cards {
  display: grid;
  position: relative;
  align-items: center;
  grid-gap: 30px;
}


/* Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  #music {
    padding: 30px 0px;
  }

  .music-title{
    padding: 0 0 30px 0;
  }
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
  .desktop-cards {
    grid-template-columns: 1fr 1fr;
  }
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
  .desktop-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .desktop-card {
    width: 300px;
  }
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
  .desktop-cards {
    grid-template-columns: 1fr 1fr 1fr;
  }
  .desktop-card {
    width: 350px;
  }
}
