#footer {
  background-color: #1B1A17;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  color:#F5F2E7;
  height: 125px;
  padding: 0px 50px;
}

.footer-socials{
  font-size: 28px;
}

.footer-section > p {
  text-align: center;
  font-size: 16px;
  margin: 0;

}

/* Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .footer-section{
    display: block;
    height: 100%;
    padding: 20px 0px;
    text-align: center;
    line-height: 1.6;
  }

  .footer-section > p {
    padding: 10px 40px;
    letter-spacing: .025em;
    font-size: 13px;
  }

  .footer-socials{
    padding: 10px;
    font-size: 22px;
  }
}
