#footer {
  background-color: #1B1A17;
}

.footer-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  justify-items: center;
  color:#F5F2E7;
  height: 125px;
  padding: 0px 50px;
}

.footer-section > p {
  text-align: center;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  margin: 0;

}

/* Smallest device*/
@media (min-width: 100px) and (max-width: 575px) {
  .footer-section{
    display: block;
    height: 100%;
    text-align: center;
    padding: 20px 0px;
  }

  .footer-section > p {
    padding: 10px 50px 25px 50px;
  }
}
