#hero {
  background: url(/images/01\(49\)\(1\).JPG);
  object-fit: cover;
  height: 700px;
  width: 100%;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  }


  .field {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    padding-bottom: 50px;
  }

  /* Smallest device*/
@media (min-width: 100px) and (max-width: 820px) {
  #hero {
    background-position: center;
  }
}
