#hero {
  background-image: url(/images/hero1.JPG);
  object-fit: cover;
  height: 700px;
  width: 100%;
  background-position: end;
  background-size: cover;
  overflow: hidden;
  }


.header-logo {
  text-align: left;
  position: relative;
  left:80px;
  top:380px;
}


/* .header-arrows {
  text-align: center;
} */
